@import 'config';
@import 'variables';

.navbar {
	top: 0;
	left: 0;
	width: 100vw;
	@include flexCenter(row);
	p,
	a {
		color: $textColor;
		margin: 1rem;
		&:hover {
			@include transition-ease;
			color: $subTextcolor;
		}
	}
}
